ENGINE=django.db.backends.postgresql
DB_NAME=name
DB_USERNAME=username
DB_PASSWORD=passwd
DB_HOST=hostname
DB_PORT=portnr
DJANGO_SECRET_KEY=yoursecretkey
DJANGO_DEBUG=True
DJANGO_TIMEZONE=yourtimezone
MEDIA_DIR=/path/to/your/directory
